/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* banner section style start here  */
.banner-section-container {
    max-width: 1920px;
    height: 850px;

    /* border: 2px solid red; */
    background-color: rgba(229, 84, 115, 0.1);

    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 178px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 97px;
}

.banner-text-content {
    max-width: 708px;
    height: 506px;

    /* border: 2px solid black; */
}

.banner-text-content h1 {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner-text-content button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background-color: rgb(229, 84, 115);
    border: none;
}

.banner-image {
    max-width: 635px;
    height: 800px;
    /* border: 2px solid green; */
    margin-top: 50px;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

/* banner section style end here  */

/* Featured Image section style start  */
.featured-flowers-container {
    max-width: 1440px;
    height: 790px;

    /* border: 2px solid rebeccapurple; */
    margin: 0 auto;
    margin-bottom: 128px;
}

.featured-text-content {
    max-width: 594px;
    height: 132px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 48px;
}

.featured-text-content h1 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-text-content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}

.featured-image-content {

    /* border: 2px solid red; */

    max-width: 1440px;
    height: 605px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featured-image-card {
    max-width: 464px;
    height: 605px;
    /* border: 2px solid orange; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 110px 78px 0px 78px;

    border-radius: 50% 50% 0 0;
    background-color: rgba(167, 33, 98, 0.15);
}

.figure-1 {
    width: 310px;
    height: 428px;
    /* border: 1px solid mediumblue; */
    margin-top: 62px;

}

.figure-2 {
    width: 310px;
    height: 428px;
    /* border: 1px solid mediumblue; */
    margin-top: 80px;
}

.figure-1 img {
    width: 100%;
    height: 100%;
}

.figure-2 img {
    width: 100%;
    height: 100%;
}

.figure-1 figcaption {
    margin-top: 10px;
    text-align: center;
    text-align: center;
    text-decoration-line: underline;
}

.figure-2 figcaption {
    margin-top: 8px;
    text-align: center;
    text-align: center;
    text-decoration-line: underline;
}

/* Featured Image section style end  */

/* service section style start here  */
.service-section-container {
    max-width: 1440px;
    height: 320px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);

    /* border: 2px solid red; */

    margin: 128px auto;
    padding: 86px 175px;
}

.service-section-content {
    max-width: 1090px;
    height: 147px;
    /* border: 2px solid green; */
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-section-content-1 {
    max-width: 380px;
    height: 147px;
    /* border: 1px solid mediumspringgreen; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-section-content-1-image {
    max-width: 88px;
    height: 88px;

    margin: 0 142px 24px 142px;
}

.service-section-content-1-image img {
    width: 100%;
    height: 100%;
}

.service-section-content-1 p {
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/* service section style end here  */